<ion-content [fullscreen]="true">
  <div class="header">
    <h1 class="title">Mindguard
    <p class="subtitle">Your personal Everyday mental support.</p>
    </h1>
  </div>

  <form [formGroup]="resForm" >
    <div class="ion-padding">




      <ion-item class="ion-invalid">
        <ion-input formControlName="email" placeholder="Email" class="input"></ion-input>
        <ion-icon name="person-outline"></ion-icon>
        
      </ion-item>


      <div *ngIf="this.resForm.get('email')?.touched || this.resForm.get('email')?.dirty">
        <ion-text *ngIf="this.resForm.get('email')?.hasError('required')">
          Email is required
        </ion-text>
        <ion-text  *ngIf="this.resForm.get('email')?.hasError('email')">
          Email is unvalid
        </ion-text>
      </div>










      <div>
        <ion-button (click)="reset()">Send Reset Email</ion-button>
      </div>
      <div class="signuplink">
        <p>I remembered! <a [routerLink]="['/login']">(back)</a></p>
      </div>
    </div>
  </form>


</ion-content>
