<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="container">
    <div class="headerwrapper">
      <p class="header">MindGuard</p>
      <h1 class="title">3-3-3 Rule</h1>
    </div>
    <div class="seecontainer  " #see>
      <div class="middlewrapper">
        <div class="top">
          <strong>
            <h1>3 Things you see</h1>
          </strong>
        </div>
        <div class="center">
          <div class="pictures">
            <div class="picturestop">
              <div class="picture" (click)="pictureOne()"><ion-icon name="camera" *ngIf="!pictureone"></ion-icon>
                <img *ngIf="pictureone" src="data:image/jpeg;base64,{{pictureone}}">
              </div>
              <div class="picture" (click)="pictureSnd()"><ion-icon name="camera" *ngIf="!picturetwo"></ion-icon>
                <img *ngIf="picturetwo" src="data:image/jpeg;base64,{{picturetwo}}">
              </div>
            </div>
            <div class="picturebot">
              <div class="picture" (click)="pictureTrd()"><ion-icon name="camera" *ngIf="!picturethree"></ion-icon>
                <img *ngIf="picturethree" src="data:image/jpeg;base64,{{picturethree}}">
              </div>
            </div>
            <div class="description">
              <p>Tab on a field to take a picture</p>
            </div>
          </div>
        </div>
      </div>




      <div class="forwardbackbuttons">
        <div></div>
        <ion-icon class="right" name="arrow-forward-circle" (click)="tofeel()"></ion-icon>
      </div>

    </div>





    <div class="feelcontainer hidden" #feel>
      <div class="middlewrapper">
        <div class="top">
          <strong>
            <h1>3 Things you feel</h1>
          </strong>
        </div>
        <div class="center">
          <div class="feelwrapper">
            <div class="feel" (click)="showFeel(1)"><ion-icon name="finger-print"></ion-icon><ion-input #feelinputone
                class="smoll"></ion-input></div>
            <div class="feel" (click)="showFeel(2)"><ion-icon name="finger-print"></ion-icon><ion-input #feelinputtwo
                class="smoll"></ion-input></div>
            <div class="feel" (click)="showFeel(3)"><ion-icon name="finger-print"></ion-icon><ion-input #feelinputthree
                class="smoll"></ion-input></div>
            <div class="description">
              <p>Tab on a field to edit</p>
            </div>
          </div>
        </div>
      </div>




      <div class="forwardbackbuttons">
        <ion-icon class="left" name="arrow-back-circle" (click)="backtosee()"></ion-icon>
        <ion-icon class="right" name="arrow-forward-circle" (click)="tohear()"></ion-icon>

      </div>

    </div>


    <div class="hearcontainer hidden" #hear>
      <div class="middlewrapper">
        <div class="top">
          <strong>
            <h1>3 Things you hear</h1>
          </strong>
        </div>
        <div class="center">
          <div class="feelwrapper">
            <div class="feel" (click)="showHear(1)"><ion-icon name="ear"></ion-icon><ion-input #hearinputone
                class="smoll"></ion-input></div>
            <div class="feel" (click)="showHear(2)"><ion-icon name="ear"></ion-icon><ion-input #hearinputtwo
                class="smoll"></ion-input></div>
            <div class="feel" (click)="showHear(3)"><ion-icon name="ear"></ion-icon><ion-input #hearinputthree
                class="smoll"></ion-input></div>
            <div class="description">
              <p>Tab on a field to edit</p>
            </div>
          </div>
        </div>
      </div>




      <div class="forwardbackbuttons">
        <ion-icon class="left" name="arrow-back-circle" (click)="backtofeel()"></ion-icon>
        <ion-icon class="right" name="arrow-forward-circle" (click)="stop()"></ion-icon>

      </div>

    </div>

    <ion-button (click)="stop()">Stop</ion-button>
  </div>

</ion-content>