<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content">
    <div class="header">
      <img src="assets/icon/logo.svg" />
      <h1 class="title">Mindguard
        <p class="subtitle">Your personal Everyday mental support.</p>
      </h1>
    </div>

    <div class="forms ion-padding">
      <form [formGroup]="logForm">
        <div class="form">




          <ion-item>
            <ion-input formControlName="email" placeholder="Email" class="input"></ion-input>
            <ion-icon name="person-outline"></ion-icon>
            <ion-note slot="helper"
              *ngIf="(this.logForm.get('email')?.touched || this.logForm.get('email')?.dirty) && this.logForm.get('email')?.hasError('required')">Email
              is required</ion-note>
          </ion-item>


          <ion-item>
            <ion-input formControlName="password" placeholder="password" class="input"></ion-input>
            <ion-icon name="lock-closed-outline"></ion-icon>
            <ion-note slot="helper"
              *ngIf="(this.logForm.get('password')?.touched || this.logForm.get('password')?.dirty) && this.logForm.get('password')?.hasError('required')">Password
              is required</ion-note>
          </ion-item>





          <div class="forgotpassword">
            <a [routerLink]="['/passwordreset']"> Forgot password?</a>
          </div>

          <div>
            <ion-button shape="round" (click)="login()">Login</ion-button>
          </div>
          <div class="signuplink">
            <p>New member? <a [routerLink]="['/register']">Signup now!</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>