<ion-content [fullscreen]="true" scrollY="false">

  <div class="header">
    <h1>About us</h1>
  </div>
  <div class="container">
    <div class="scrollable">

      <h1><strong>Who are we?</strong></h1>

      <p>We are a team of two, who’s goal it is to</p>
      <p>support peoples regular struggle with their </p>
      <p>negative resulting mental stimuli.</p>


      <img src="assets/icon/logo.svg"/>
      
      <p>This prototype has been a part of an final </p>
      <p>exam for the study Media and Interaction</p>
      <p>Design at Hochschule Osnabrück.</p>

    


      <div class="buttons">
        <ion-button class="backb" (click)="back()">Back</ion-button>
      </div>






    </div>
  </div>










</ion-content>