<ion-content [fullscreen]="true" [scrollY]="false">
  <div class="container">

    <div class="userinfo">

      <ion-avatar>
        <img alt="Silhouette of a person's head" [src]="this.authservice.profilepic" />
      </ion-avatar>

      <h2>{{this.authservice.data['name']}}</h2>

      <p>{{this.authservice.data['email']}}</p>



    </div>

    <ion-card>
      <div class="list">





        <div class="item"><ion-button fill="clear" expand="full" (click)="changeprofile()"><ion-icon
              name="settings-outline"></ion-icon><strong>Settings</strong></ion-button></div>
        <div class="item"><ion-button fill="clear" expand="full" (click)="aboutus()"><ion-icon
              name="information-circle-outline"></ion-icon><strong>About us</strong></ion-button></div>
        <div class="item"><ion-button fill="clear" expand="full" (click)="logout()"><ion-icon
              name="power-outline"></ion-icon><strong>Logout</strong></ion-button></div>
      </div>
    </ion-card>
  </div>
</ion-content>